#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 600px) {
  #root {
    max-width: 100%;
    padding: 0 10px;
    /* Optional: Add some padding for better appearance */
  }
}